html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 👟 AdvertiserNew
    link(rel='stylesheet' href='/styles.css')
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css')
    link(rel='stylesheet' href=`${demoHomeUrl}/shared.styles-browser-setup.css`)
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js")
    style.
        @import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@1,500&display=swap');
  body
    div#setup-issues-banner(style="display:none") Make sure to follow the 
        a(href=`${demoHomeUrl}#browser-setup`) browser setup instructions
        | . 
        div#setup-issues-list
    header
        div.main
            h1 👟 AdvertiserNew site
            div
                nav.menu
                    div 
                        a(href='/') Home
    div.main.mainContentWrapper
        block content
    block foot
        #footer
            div 
                a(href=demoHomeUrl) Demo homepage
                | ・
                a(href=publisherUrl) Publisher site
                | ・
                span Advertiser site
                | ・
                a(href=adtechUrl) Adtech site
            div
                a(href="https://goo.gle/sppi-devrel-eventlevel" target="_blank") Deployed demo
                | ・
                a(href="https://github.com/GoogleChromeLabs/trust-safety-demo/tree/main/attribution-reporting" target="_blank") Code
    script(type="text/javascript" src=`${demoHomeUrl}/shared.browser-setup.js`)
    script(type="text/javascript" src=`${demoHomeUrl}/shared.highlight-current-link.js`)

