doctype html
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 🚀 Adtech server
  link(rel='stylesheet' href='/styles.css')
body
  h1 Adtech logs 🚀 
  br
  p
  | Internal logs seen by the adtech server and linked through third-party cookies.

  h3 Device id: #{sessionId}

  h3 Impressions
  
  hr
  each impression in impressions
    ul
    each value, key in impression
      li #{key}: #{value}
    hr

  h3 Conversions 

  hr
  each c in conversions
    ul
    each value, key in c
      li #{key}: #{value}
    hr
