html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 👍 Social
    link(rel='stylesheet' href='/styles.css')
    link(rel='stylesheet' href=`${demoHomeUrl}/shared.styles-browser-setup.css`)
    style.
        @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
  body
    div#setup-issues-banner(style="display:none") Make sure to follow the 
        a(href=`${demoHomeUrl}#browser-setup`) browser setup instructions
        | .
        div#setup-issues-list
    header
        div.main
            h1 👍 Columbia Social
            div
                nav.menu
    div.main.mainContentWrapper
      h2 Posts from your friends
      article
          | Quantum flux capacitor lorem ipsum dolor sit amet, hoverboard paradox. 
          | Time travel continuum flux capacitor, great scott! 
          | DeLorean plutonium gigawatts, Marty McFly hoverboard.
          | 
          | News link: 
          a(href=newsUrl) Columbia News
      // Third-party adtech script that dynamically creates an iframe with an ad
      script(src=adScriptUrl)

    script(type="text/javascript" src=`${demoHomeUrl}/shared.browser-setup.js`)
    script(type="text/javascript" src=`${demoHomeUrl}/shared.highlight-current-link.js`)


